<% provide(:title, "Checkout") %>
<div class="center jumbotron">
    <h1>Checkout</h1>
</div>
<center><div> <p> Pay for miscellaneous work here don't for get to include what you are paying for.!
	</p>	<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="GYTPSW4DHWPBQ">
<table>
<tr><td><input type="hidden" name="on0" value="What are you paying for">What are you paying for</td></tr><tr><td><input type="text" name="os0" maxlength="200"></td></tr>
</table>
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
</div></center>

<left><div class= "center jumbotron">
<div class="alert alert-info" role="alert">
	 <p>
	Subscribe to the 6 month plan and get the benefits of unlimited online and over the phone step by step help. subscribe today. Join today and get the trial period for 6 months, and only pay $20.00 For the first 6 months. Not satisfied you never have to continue.
</p>
</div>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="AB7T5EFANJY9E">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

<p><small>Only pay $20.00 for the trial period, after that a one time payment of $149.99 is needed to continue for this service plan and continues 6 months after that, no commitment needed you can cancel at any time.</small></p>

<A HREF="https://www.paypal.com/cgi-bin/webscr?cmd=_subscr-find&alias=U2FSWYNA4Q25N">
<IMG SRC="https://www.paypalobjects.com/en_US/i/btn/btn_unsubscribe_SM.gif" BORDER="0">
</A>
</div>
