<% provide(:title, "Services") %>
<div class="center jumbotron">
    <h1>Departments</h1>
</div>

	<div id="masthead">  
	  <div class="container">
	      <div class="row">
	        <div class="col-md-7">
	          <h1>Parts of our web site is under maintenance 
	            <p class="lead">...</p>
	          </h1>
	        </div>
	        <div class="col-md-5">
	            <div class="well well-lg"> 
	              <div class="row">
	                <div class="col-sm-6">
	        	      	<img src="//placehold.it/180x100" class="img-responsive">
	                </div>
	                <div class="col-sm-6">
		              	Some text here
	                </div>
	              </div>
	            </div>
	        </div>
	      </div> 
	  </div><!--/container-->
	</div><!--/masthead-->

	<!--main-->
	<div class="container">
		<div class="row">
	      <!--left-->
	      <div class="col-md-3" id="leftCol">
	        <ul class="nav nav-stacked" id="sidebar">
	          <li><a href="#sec0">Computer Setup</a></li>
	          <li><a href="#sec1">Computer Software Gaming</a></li>
	          <li><a href="#sec2">Computer Software Virus Scans</a></li>
	          <li><a href="#sec3">Wireless Networking</a></li>
	          <li><a href="#sec4">Hardware Installation</a></li>
	        </ul>
	      </div><!--/left-->

	      <!--right-->
	      <div class="col-md-9">
	        <h2 id="sec0">Computer Setup</h2>
	        <p>
	    Make sure your computer is setup right for everyday use from now to the get go. We can create accounts, Install critical updates and required software to browse the web and play web based games.</p>
	<center><h2><p> Whats Included</p></h2></center>
	<p> Service Options :</p>
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingOne">
	      <h4 class="panel-title">
	        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
	          Over the phone / remote view $49.99 
	        </a>
	<br></br>
	<button type="button" class="btn btn-success">Buy Now</button>
	      </h4>
	    </div>
	    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
	      <div class="panel-body">
				<ul>
				  <li>Install critical updates</li>
				</ul>
					<ul>
					  <li>Create user accounts</li>
					</ul>
						<ul>
						  <li>Remove trial ware</li>
						</ul>
							<ul>
							  <li>Set up default browser</li>
							</ul>
								<ul>
								  <li>Install and update virus protection</li>
								</ul>
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingTwo">
	      <h4 class="panel-title">
	        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
	          Onsite.|$89.99 Call to schedule an appointment 
	<p>1-443-312-9563</p>
	        </a>
	      </h4>
	    </div>
	    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
	      <div class="panel-body">
					<ul>
					  <li>Install critical updates</li>
					</ul>
					<ul>
					   <li>Create user accounts</li>
					</ul>
					 <ul>
						<li>Remove trial ware</li>
					 </ul>
					  <ul>
						<li>Set up default browser</li>
					  </ul>
					   <ul>
						<li>Install and update virus protection</li>
					   </ul>
						<ul>
						 <li>Set up and install one hardware device; printer , scanner, router.</li>
						</ul>
						<ul>
						  <li>Create restore media, plus $29.99 for usb device.</li>
						</ul>
						<ul>
						  <li>Install and configure apps; java, adobe flash player and reader</li>
						</ul>
	      </div>
	    </div>
	  </div>
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingThree">
	    </div>
	    </div>
	  </div>
	</div>

	        <hr>
	        <p>
			</p>
			<br></br>
	        <h2 id="sec1">Computer Software Gaming</h2>
	      <center><p>
From 'OS'(Operating system) corruption, to blue screens to gaming software we got you covered 
	        </p></center>
	        <div class="row">
	          <div class="col-md-6">
	            <div class="panel panel-default">
	              <div class="panel-heading"><h3>In store.|$49.99</h3> <center><p>Schedule a reservation to drop it all off.</p> <a href='/contacts' class="btn btn-primary">Schedule</button></a></center></div>
	              <div class="panel-body">	
					<ul>
					  <li>Verify compatibility</li>
					</ul>
					<ul>
					  <li>Install desired software with updates "up to 2"</li>
					</ul>
					<ul>
					  <li>Create shortcuts</li>
					</ul>
					<ul>
					  <li>Test functionally</li>
					</ul>
	              </div>
	            </div>
	          </div>
	          <div class="col-md-6">
	            <div class="panel panel-default">
	              <div class="panel-heading"><h3>Onsite.|$99.99</h3> <center>Call to schedule an 	appointment 
				<p>1-443-312-9563</p></center></div>
			
	              <div class="panel-body">
					<ul>
					  <li>Verify compatibility</li>
					</ul>
					<ul>
					  <li>Install desired software with updates "up to 1"</li>
					</ul>
					<ul>
					  <li>Create shortcuts</li>
					</ul>
					<ul>
					  <li>Test functionally</li>
					</ul>
	              </div>
	            </div>
	          </div>  
	        </div>

	        <hr>
			<br></br>

	        <h2 id="sec2">Virus removal</h2>
			<center>
				Service Options
				<p>
			  <button type="button" class="btn btn-primary btn-lg">Online|$99.99</button>
			  <button type="button" class="btn btn-default btn-lg">Onsite|$199.99</button>
			  <button type="button" class="btn btn-danger btn-lg">In store|$149.99</button>
			</p></center>
	        <p>
				<div class="panel panel-info">
				  <div class="panel-body">
				  <center> Whats Included</center>
				  </div>
				</div>
				<ul class="list-group">
				  <li class="list-group-item list-group-item-info">
					<ul>
				  <li>Remove viruses, malware and other infections</li>
				</ul>
				<ul>
				  <li>Troubleshoot one computer</li>
				</ul>
				</li>
				<br></br>
				
				  <li class="list-group-item list-group-item-default">
					<ul>
					  <li>Remove viruses, malware and other infections</li>
					</ul>
					<ul>
					  <li>Optimize Start up and shut down</li>
					</ul>
					<ul>
					  <li>Provide estimate for any additional computer(s) repair</li>
					</ul>
					</li>
					<br></br>
					
				  <li class="list-group-item list-group-item-danger">
					<ul>
					  <li>Remove viruses, malware and other infections</li>
					</ul>
					<ul>
					  <li>Install critical system updates</li>
					</ul>
					<ul>
					  <li>Clean up registry, menu, and temporary files</li>
					</ul>
					
					</li>
				</ul>
				
	        </p>

	        <hr>
			<br></br>
	        <h2 id="sec3">Wireless Networking</h2>
			<center>	Service Options
				<p>
				<button type="button" class="btn btn-success btn-lg">Onsite|$79.99</button>
				</p></center>
				<p>
					<div>
						<div class="panel panel-info">
						  <div class="panel-body">
						  <center> Whats Included</center>
						  </div>
						</div>
				</p>
	        <p>
 				<ul class="list-group">
				  <li class="list-group-item list-group-item-success">
				
				<ul>
				  <li>Connect a router to a modem and extend the network with an extender where 	possible</li>
				</ul>
				<ul>
				  <li>Give the network a unique (SSID) and encryption to prevent possible attacks</li>
				</ul>
				<ul>
				  <li>Enable network shearing where possible</li>
				</ul>
				<ul>
				  <li>Change the default gateway password</li>
				</ul>
			</li>
			</div>
			</p>

				<hr></hr>
				<br></br>

	        <h2 id="sec4">Hardware Installation</h2>
			<center>	Service Options
				<p>
				<button type="button" class="btn btn-default btn-lg">Onsite|$119.99</button>
				<button type="button" class="btn btn-default btn-lg">In store|$49.00</button>
				</p></center>
				<p>
					<div>
						<div class="panel panel-info">
						  <div class="panel-body">
						  <center> Whats Included</center>
						  </div>
						</div>
				</p>
				<div class="panel panel-default">
				  <div class="panel-body">
				    <ul>
					  <li>Install one internal or external component; graphics card, hard drive, printer/scanner, and memory</li>
					</ul>
					<ul>
					  <li>Install the needed hardware drives</li>
					</ul>
					<ul>
					  <li>Verify memory or ram is accepted in the computer bios</li>
					</ul>
					<ul>
					  <li>Test functionality</li>
					</ul>
				  </div>
				</div>

	        </div><!--/right-->
	  	</div><!--/row-->
	</div><!--/container-->
	
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
