<% provide(:title, "Support Plans") %>
    <h1>Support Plans</h1>

	<!-- Marketing messaging and featurettes
	================================================== -->
	<!-- Wrap the rest of the page in another container to center all the content. -->

	<div class="container marketing">

	  <!-- Three columns of text below the carousel -->
	  <div class="row">
	    <div class="col-md-4 text-center">
	      <img class="img-circle" <img alt="shoe" src="#" /> 
	      <h2>6 Month Plan</h2>
	      <p>The 6 month support plan consists of online support to one computer in the house hold. This includes virus protection support for up to 6 months, software support and hardware, but with hardware additional parts will be paid through the client.</p>
	      <p><a class="btn btn-default" href="#">View details »</a></p>
	    </div>
	    <div class="col-md-4 text-center">
	      <img class="img-circle" src="http://placehold.it/140x140">
	      <h2>1 Year Plan</h2>
	      <p>The year support plan has the same goodies as the month plan, but will include no onsite payments, yes thats right to have a tech visit your house it will be for free because of your yearly payment to us.</p>
	      <p><a class="btn btn-default" href="#">View details »</a></p>
	    </div>
	    <div class="col-md-4 text-center">
	      <img class="img-circle" src="http://placehold.it/140x140">
	      <h2>LESS is More</h2>
	      <p>Improved support for mixins make the new Bootstrap 3 easier to customize.</p>
	      <p><a class="btn btn-default" href="#">View details »</a></p>
	    </div>
	  </div><!-- /.row -->


	  <!-- START THE FEATURETTES -->

	  <hr class="featurette-divider">

	  <div class="featurette">
	    <img class="featurette-image img-circle pull-right" src="http://placehold.it/512">
	    <h2 class="featurette-heading">Virus Removal. <span class="text-muted">It'll blow your mind.</span></h2>
	    <p class="lead">6 months security or a year we got you covered, virus, malware, spyware you name it these formalities happen. Love shopping online, Let the techs secure your delicate information by supplying you with the necessary software to keep you worry free that your personal information also your hardware is safe. Viruses don't only steal info, and attack your software they are after your hardware too. Chose us and we will protect your info and also your computer components.</p>
	  </div>

	  <hr class="featurette-divider">

	  <div class="featurette">
	    <img class="featurette-image img-circle pull-left" src="http://placehold.it/512">
	    <h2 class="featurette-heading">Hardware repair or replacement. <span class="text-muted">Lightweight.</span></h2>
	    <p class="lead">If we cant repair it we will replace it. We will save you the time and go out our selves to get the hardware you need and install it at no additional cost to you.</p>
	  </div>

	  <hr class="featurette-divider">

	  <div class="featurette">
	    <img class="featurette-image img-circle pull-right" src="http://placehold.it/512">
	    <h2 class="featurette-heading">Software support. <span class="text-muted">Flatness.</span></h2>
	    <p class="lead">Can't run the game or program you want, let us solve the problem and update the software on your machine where applicable. Or we will advise you on the steps you need to take to be up and running in no time.</p>
	  </div>

	  <hr class="featurette-divider">

	  <!-- /END THE FEATURETTES -->

	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>