<% provide(:title, "Support Plans") %>
<div class="center jumbotron">
    <h1>Support Plans</h1>
</div>

	<!-- Marketing messaging and featurettes
	================================================== -->
	<!-- Wrap the rest of the page in another container to center all the content. -->

	<div class="container marketing">

	  <!-- Three columns of text below the carousel -->
	  <div class="row">
	    <div class="col-md-4 text-center">
		  <img src="/assets/6month.png" alt="6months plan" class="img-circle">
	      <h2>6 Month Plan</h2>
	      <p>The 6 month support plan consists of online support to one computer in the house hold. This includes virus protection support for up to 6 months, software support and hardware, but with hardware any additional parts will be paid for by the client.</p>
	      <p><button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="top" data-content="Every 6 months a payment of $149.99 is required to sign up for this plan. You get unlimited Software tech support thru online and over the phone services.">
		  View details >>
		</button></p>
	    </div>
	    <div class="col-md-4 text-center">
	      <img src="/assets/1yrplan.png" alt="1year plan" class="img-circle">
	      <h2>1 Year Plan</h2>
	      <p>The year support plan has the same goodies as the 6 month plan, but will include no onsite payments, yes thats right to have a tech visit your house it will be for free because of your yearly payments to us.</p>
	      <p><button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="left" data-content="An annual payment of $249.99 is required to join this plan, and also a monthly fee of $9.99 every month untill the year is up for renew. Hardware repair prices will be cut in half, you get a 50% off any hard ware repair on this plan.">
		  View details >>
		</button></p>
				
	    </div>
	    <div class="col-md-4 text-center">
	      <img src="/assets/nocoverage.png" alt="no coverage" class="img-circle">
	      <h2>No Coverage</h2>
	      <p>Don't want to be locked into monthly or yearly payments we got you covered too, with the pay per visit you only yes pay for the visit and repair cost. Want to drop it off instead call us we can come to you to pick up or you can come to drop your device off.</p>
	      <p><button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="right" data-content="With this you will pay in full to have our tech come to visit. Imagine the cost of your harddrive repair or replacement is $160, you would have to pay $160 plus the the visit price, and any installation fees. Let 1 of our plans be on your side subscribe today!">
		  View details >>
		</button></p>
		
		<script>$(function () 
	      { $("[data-toggle='popover']").popover();
	      });
	   </script>
	    </div>
	  </div><!-- /.row -->


	  <!-- START THE FEATURETTES -->

	  <hr class="featurette-divider">

	  <div class="featurette">
	    <img class="featurette-image img-circle pull-right" img src="/assets/virusdetected.png" alt="no coverage" class="img-circle">
	    <h2 class="featurette-heading">Virus Removal. <span class="text-muted"></span></h2>
	    <p class="lead">Minimize security risks
		Protect your data against malware threats and common viruses.
		There is no method that can guarantee that your device will be immune to attacks by viruses and malware. However, there are steps that you can take to lessen the risks.
		6 months security or a year we got you covered, virus, malware, spyware you name it these formalities happen. Love shopping online, Let the techs secure your delicate information by supplying you with the necessary software to keep you worry free that your personal information also your hardware is safe. Viruses don't only steal info, and attack your software they are after your hardware too. Chose us and we will protect your info and also your computer components.</p>
	  </div>

	  <hr class="featurette-divider">

	  <div class="featurette">
	    <img class="featurette-image img-circle pull-left" img src="/assets/hardwarerepair.png" alt="no coverage" class="img-circle">
	    <h2 class="featurette-heading">Hardware repair or replacement. <span class="text-muted">Lightweight.</span></h2>
	    <p class="lead">If we cant repair it we will replace it.  Must be on the year plan for the option for replacement. We will save you the time and go out our selves to get the hardware you need and install it at no additional cost to you. 50% off if on the 1 year plan on hardware repairs.</p>
	  </div>

	  <hr class="featurette-divider">

	  <div class="featurette">
	    <img class="featurette-image img-circle pull-right" img src="/assets/softwaresupport.png" alt="no coverage" class="img-circle">
	    <h2 class="featurette-heading">Software support. <span class="text-muted">Flatness.</span></h2>
	    <p class="lead">Can't run the game or program you want, let us solve the problem and update the software on your machine where applicable. Or we will advise you on the steps you need to take to be up and running in no time.</p>
	  </div>

	  <hr class="featurette-divider">

	  <!-- /END THE FEATURETTES -->

	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>