<% provide(:title, "Terms") %>
<div class="center jumbotron">

<h1> Terms <small>for using us to work on your devices </small> </h1>

<ul class="list-group">
  <li class="list-group-item">A half price of the cost of the repair is needed to begin all work.</li>
  <li class="list-group-item">All payments made are final unless stated other wise and agreed upon by both parties, "The client and Da_wiz (Company)" </li>
  <li class="list-group-item">Devices will be held for 14 days or 2 weeks without payment before it is auction off for the repair price. Please pay on time or contact us and ask about our payment plan.</li>
  <li class="list-group-item">All payments made on service plans are final and non refundable.</li>
  <li class="list-group-item">Canceling subscription means you forfeit the plan and will not be getting tech support for the remainder of the subscription if ended before service period. </li>
  <li class="list-group-item">Upon reading these terms and using us for work, you agree with our terms.</li>
</ul>
</div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>