<footer class="footer">
  <small>
    <a>The Cupid Tech App</a>
    by <a> 4thTechies A 4thTechnology group</a>
  </small>
  <nav>
    <ul>
	<li><div class="fb-like" data-href="https://facebook.com/4thtechnology" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div></li>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="#">News</a></li>
    </ul>
  </nav>
</footer>