<footer class="footer">
  <small>
    <a> Da_Wiz Tech App</a>
    by | 4thTechies, A 4thTechnology group. Copy &#169;  2015.
  </small>
  <nav>
    <ul>
	<li><div class="fb-like" data-href="https://facebook.com/4thtechnology" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div></li>
      <li><%= link_to "Terms",   '/terms' %></li>
      <li><%= link_to "Contact", '/contacts' %></li>
      <li><%= link_to "News", '/news' %></li>
    </ul>
  </nav>
</footer>