<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to image_tag("logo1.png",  alt: "Da_Wiz logo"),
	            root_path %>
	
    <nav>
	  <div class="navbar-header">
		    <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		    </a>
	        </div>
      <ul class="nav navbar-nav navbar-right">
        <div class="navbar-collapse collapse">
		          <ul class="nav navbar-nav">
		            <li class="active"><a href= '/'>Home |</a></li>
		            <li><a href='/selfhelp'>Self Help |</a></li>
		            <li><a href='/supportplans'>Support Plans |</a></li>
					<li><a href='/cart'>CheckOut |</a></li>
					<li><a href='/departments'>Services</a></li>
		          </ul>
		        </div>
</header>